.App {
  text-align: center;
}


.whole-page{
  padding-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgb(81,201,169);
}

.sign-up-section{
  padding-top:15px;
  width: 30%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
<<<<<<< HEAD
  background: rgb(158,166,106);
  /* background: rgb(98,106,46); */
=======
  /* border: 1px solid rgb(187,187,187); */
  background: rgb(106,111,53);
>>>>>>> 26ac437ef5b17c2c9608e17b24d2c6a0bac04044
  /* background: rgb(255,255,255); */
  margin-top: 25px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 8px;

}
.title{
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
  /* border: 2px solid whitesmoke; */
  margin: 5px;
  border-radius: 5px;
  color:white;
  font-size: 2rem;
  /* color: rgb(10, 169, 190); */
  display: flex;
  justify-content: space-evenly;
  
}
input, button{
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  /* border: 2px solid whitesmoke; */
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  /* color: rgb(194,194,194); */
  color: black;
}
label{
  color:black;
  padding-left: 8px;
}
button{
  width: 99%;
  /* background: black; */
  background: rgb(35, 223, 173);;
  color: white;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
}
form{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thierno-nav{
  /* background:rgb(91,111,104); */
  background: rgb(81,201,169);
  width: 100%;
  height: 200px;
  justify-content: space-evenly;
}
.last-text{
  display: flex;
  justify-content: space-evenly;
  font-size: .7rem;
  padding-bottom: 15px;
}
.footer-text{
  margin-top: 80px;
 padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
<<<<<<< HEAD
.errors{
  color: red;
  font-size: .7rem;
  /* text-align: center; */
  margin-left: 15px;
}
/* SignUp page styling ends here */
=======

/* SignUp page styling ends here */
>>>>>>> 4ab0e536c4386167b2bd8ee63f0e61a22c317a91
